//COLORS SCHEME
//---->Primary
$white: #fff;
$black: #001514;
$gray: #5b5f62;
//--->Secondary
$message: #92dce5;
$follow: #ef6461;

//FONTS
//---->Font Family
$montserrat: 'Montserrat', sans-serif;
//---->Font Size
$xxx-large: 60px;
$xx-large: 50px;
$x-large: 40px;
$large: 30px;
$medium: 20px;
$normal: 18px;
$small: 12px;
//Font weight
$font-black: 700;
$font-bold: 500;
$font-regular: 400;
$font-light: 300;